<h1>Welcome</h1>

<% if logged_in? %>
	<h1>You are Logged In, <%= current_user.username %>!</h1>
<%end%>
<br>
<audio src=""></audio>
<h3>Here's some music you might like!</h3>
<iframe src="https://open.spotify.com/embed/track/0EUSbTvyZfo9QOcxunL9Ro" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
